@import "tailwindcss";
@import "@nuxt/ui";

::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track
{
    background: #ffffff;
}

::-webkit-scrollbar-thumb
{
    background: #BDBDBD;
}

::-webkit-scrollbar-thumb:hover
{
    background: rgb(63, 63, 63) bbb;
    width: 100px;
}

.transition{
    @apply transition-all duration-300 ease-in-out;
}


.swal-popup {
  @apply flex flex-col items-center rounded-lg shadow-lg p-4;
}

.swal-title {
  @apply font-medium text-[.9rem] text-gray-600 text-center;
}

.swal-confirm-btn {
  @apply w-42 rounded py-2 text-blue-400 bg-blue-100 font-medium hover:bg-blue-400 hover:text-white transition-colors;
}

.swal-cancel-btn {
  @apply w-42 rounded py-2 bg-red-100 text-red-400 font-medium hover:bg-red-500 hover:text-white transition-colors;
}
